
\.idea/\.name

\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

alien8\.iml

out/production/alien8/Grid/Board\.class

out/production/alien8/Grid/Board\$1\.class

out/production/alien8/Grid/Board\$2\.class

out/production/alien8/Grid/Board\$3\.class

out/production/alien8/Grid/Main\.class

*.class
