@font-face {
    font-family: Audiowide;
    src: url('file:src/graphics/userInterface/resources/fonts/Audiowide.ttf');
}

@font-face {
    font-family: Lazer84;
    src: url('file:src/graphics/userInterface/resources/fonts/Lazer84.ttf');
}

.root{
    -fx-background-color: linear-gradient(to bottom, #070829 0%,#05092b 24%,#08092b 25%,#08092d 30%,#050a2b 32%,#070a2e 35%,#080e31 56%,#090f35 62%,#080f32 63%,#0b1036 64%,#0b0f36 69%,#0a1237 70%,#091136 73%,#0b173f 91%,#0b163c 100%) fixed;
    -fx-background-color: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    -fx-background-color: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    -fx-background-color: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}


.pane{
    -fx-pref-width:1024px;
    -fx-pref-height: 768px;
}


.sub-pane{
    -fx-pref-width:630px;
    -fx-pref-height: 768px;
}

.main-menu-title {
    -fx-font-family: Lazer84;
    -fx-fill: linear-gradient(to bottom, #f9ceff 0%, #ff8deb 25%, #876193 50%, #162b79 75%, #000000 100%) fixed;
    -fx-fill: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    -fx-font-size: 220px;
}

.button{
    -fx-font-family:"911 Porscha 3D";
    -fx-font-size: 45px;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}


.radio-text {
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 25;

}

.radio-text:hover{
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-effect: dropshadow(gaussian, rgb(230, 0, 120), 15, 0, 0, 0);
}

.radio-text:selected > .radio-text{
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-effect: dropshadow(gaussian, rgb(230, 0, 120), 15, 0, 0, 0);
}

.standard-text-hud{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-font-size: 20px;
}
.standard-text-hud-title{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-font-size: 25px;
}

.standard-text{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
}

.standard-text-medium{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 50px;
}

.standard-text-nm{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 30px;
}

.standard-text-normal{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 25px;
}

.standard-text-big{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 100px;
}
.standard-text-alert{
    -fx-font-family: Audiowide;
    -fx-text-fill: Red;
    -fx-font-size: 15px;
}
.standard-text-help{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 20px;
}

.button-text{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
/*-fx-effect: dropshadow(gaussian, white, 20, 0.1, 0, 0)*/
}

.button-text:hover{
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-effect: dropshadow(gaussian, rgb(230, 0, 120), 15, 0, 0, 0);

}
/*todo need to look at that
*/

.text-alert-big{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-font-size: 100px;
}


.text-field {
    -fx-opacity: 0.2;
    -fx-border-color: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    -fx-background-radius: 5 ;
    -fx-text-fill:rgb(230, 0, 120);
    -fx-font-family: Audiowide;
    -fx-font-size: 20px;
}


.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.text-help-title{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-font-size: 25px;

}

.text-help-plain-text{
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 20px
}

.keyboard-text{
    -fx-font-family: Audiowide;
    -fx-font-size: 20px;
}

.damages-text{
    -fx-font-family: Audiowide;
    -fx-font-size: 30px;
}

.power-up-text{
    -fx-font-family: Audiowide;
    -fx-font-size: 15px;
}


.radio-text-menu {
    -fx-font-family: Audiowide;
    -fx-text-fill: rgba(120, 0, 50, .5);
    -fx-fill: rgba(120, 0, 50, .5);
    -fx-font-size: 40;

}

.radio-text-menu:hover{
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-effect: dropshadow(gaussian, rgb(230, 0, 120), 15, 0, 0, 0);
}

.radio-text-menu:selected{
    -fx-text-fill: rgb(230, 0, 120);
    -fx-fill: rgb(230, 0, 120);
    -fx-effect: dropshadow(gaussian, rgb(230, 0, 120), 15, 0, 0, 0);
}


.cooldown-indicator{
    -fx-font-size: 1;
    -fx-progress-color: grey;
}



