.title{
    -fx-font-family: "Outrun future Bold Italic";
    -fx-font-size: 96px;
}

.button{
    -fx-font-family:"911 Porscha 3D";
    -fx-font-size: 50px;
}

.animated-gradient {
    -gradient-base: red ;
    -fx-text-fill: linear-gradient(to right, -gradient-base, orange);
}
