.background{
    -fx-background-color: #142b44;
}

.background_transparent{
    -fx-background-color: transparent;

}

.text{
    -fx-text-fill: white;
}

.button_round{
    -fx-font-family: "Arial Black";
    -fx-background-radius: 15;
    -fx-font-size: 13pt;
}

.button_cute{
    -fx-font-family: "Comic Sans MS"; /*round and cute*/
    -fx-background-radius: 13px;
    -fx-font-size: 18pt;
}

.button{
/*    -fx-font-family: "Super Mario Bros.";
    -fx-background-radius: 13px;
    -fx-font-size: 18pt;*/

}

/*for jump button*/
.button_small{
    -fx-font-family: "Super Mario Bros.";
    -fx-background-radius: 13px;
    -fx-font-size: 13pt;
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "911 Porscha 3D" ;
    -fx-font-size: 10pt;
}
.label_big{
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 13pt;

}
.label_large{
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 34pt;
}
.radio-button{
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 10pt;
}

.text_outrun{
/*    -fx-font-family: "BullpenThreeD-Regular";*/
    -fx-font-family: "911 Porscha 3D";
    -fx-text-fill:red;

}
.linear-grad-to-top {
    -fx-background-color: linear-gradient(to top, #ff7f50, #6a5acd);
}

.title_outrun{
    -fx-font-family: "Outrun future Bold Italic";
    -fx-font-size: 30pt;
    -fx-text-fill: white;
}



